{% extends "layout.html" %}
{% block body %}

<div class = "body2">
    <div class="mainbox">
        <i class="far fa-question-circle fa-spin"></i>
        <div class="msg">Is hiding out in quarantine? Never existed in the first place?<p>Let's go <a href="#">home</a> and try from there.</p></div>
    </div>
</div>

<link href="/static/css/ilb/nunito_sans.css" rel="stylesheet"></link>
<script src="/static/js/lib/fontawesome_4b9ba14b0f.js"></script>
<link href="/static/css/error.css" rel="stylesheet"></link>
{% endblock body%}