{% extends "layout.html" %}
{% block body %}

<div class="container">
    <form action="＃" method="get" class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="form-group">
                <label for="family_number"><span class="label label-danger">必須</span>人数</label>
                <select id="family_number" name="family_number" class="form-control">
                   {% for i in range(rest_seats) %}
                   <option value="{{ i + 1 }}">{{ i + 1 }}</option>
                   {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="name"><span class="label label-danger">必須</span> お名前</label>
                <div class="participant-name" >
                    <input type="text" name="name[]" class="form-control" placeholder="名前" autofocus required>
                </div>
            </div>
            <div class="form-group">
                <label for="email"><span class="label label-danger">必須</span> メールアドレス</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="raffaello@jungleocean.com" required>
            </div>
            <div class="form-group">
                <label for="tel"><span class="label label-danger">必須</span> 電話番号</label>
                <input type="tel" id="tel" name="tel" class="form-control" placeholder="080-1234-5678" required>
            </div>
            <button type="submit" class="btn btn-primary">送信する</button>
        </div>
        
    </form>
</div>

name[], phone_nnumber, email, family_id, comment

<script src="/static/js/entry.js"></script>
<link  href="/static/css/form.css" rel="stylesheet"></link>
{% endblock body %}

