{% extends "layout.html" %}
{% block body %}

<div class="container">
    <form action="/event/create" method="POST" class="row">
        <div>
            <div class="form-group">
                <label for="event_id"><span class="label label-danger">必須</span> イベントID </label>
                <input type="text" id="event_id"   name="event_id"   class="form-control" placeholder="eventname_yyyymmdd" autofocus required maxlength='90'>
            </div>
            <div class="form-group">
                <label for="event_name"><span class="label label-danger">必須</span> イベント名 </label>
                <input type="text" id="event_name" name="event_name" class="form-control" placeholder="event"       required maxlength='90' >
            </div>
            <div class="form-group">
                <label for="pswd"><span class="label label-danger">必須</span> 閲覧用トークン </label>
                <input type="text" id="pswd"       name="pswd"       class="form-control" placeholder="event_token" required maxlength='90' >
            </div>
            <div class="form-group">
                <label for="ticket_num"><span class="label label-danger">必須</span> チケット枚数</label>
                <input type="number" id="ticket_num" name="ticket_num" class="form-control" placeholder="0 ~ 999" required oninput="sliceMaxLength(this, 3)">
            </div>
            <div class="form-group">
                <label for="event_date"><span class="label label-danger">必須</span> イベント開催日 </label>
                <input type="text" id="event_date" name="event_date" class="form-control" required oninput="enablePublicDate()">
            </div>
            <div class="form-group">
                <label for="public_date"><span class="label label-danger">必須</span> チケット公開日(Default: １週間前) </label>
                <input type="text" id="public_date" name="public_date" class="form-control" required disabled>
            </div>

            <button type="submit" class="btn btn-primary">送信する</button>
        </div>
        
    </form>
</div>

<script src="/static/js/form.js"></script>
<link href="/static/css/form.css" rel="stylesheet"></link>
<link href="/static/css/lib/flatpickr.min.css" rel="stylesheet"></link>



<script src="/static/js/lib/flatpickr"></script>
<script src="/static/js/lib/flatpickr-dist-l10n-ja.js"></script>
{% endblock body%}