<!DOCTYPE html>
<html>
    <head> 
        <script src="/static/js/lib/jquery-3.4.1.min.js"></script> 
        <!-- library -->
        <script src="/static/js/lib/bootstrap.min.js"></script> 
        <link  href="/static/css/lib/bootstrap-theme.min.css" rel="stylesheet"></link>
        <link  href="/static/css/lib/bootstrap.min.css" rel="stylesheet"></link>
        <!-- setting -->
        <link  href="/static/css/layout.css" rel="stylesheet"></link>
        <title>TITLE</title>
    </head>

    <body>
        {% block body %}
        {% endblock %}
    </body>

    <footer>
        <p>©︎ 2020 ????</p>
    </footer>
</html>
