<!DOCTYPE html>
<html>
    <head> 
        <script src="/static/js/lib/jquery-3.4.1.min.js"></script> 
        <!-- library -->
        <script src="/static/js/lib/bootstrap.min.js"></script> 
        <link  href="/static/css/lib/bootstrap-theme.min.css" rel="stylesheet"></link>
        <link  href="/static/css/lib/bootstrap.min.css" rel="stylesheet"></link>
        <!-- setting -->
        <link  href="/static/css/layout.css" rel="stylesheet"></link>
        <title>Ticket System</title>
    </head>

    <body>
        
        <div class="container">
            <header>
               <div class="row">
                    <hr>
                    {% if page_title %}
                    <h1>{{ page_title }}</h1>
                    {% endif %}
                </div>
            </header>
        </div>
        
        <hr>

        <div class="container-body">
            {% block body %}
            {% endblock %}
        </div>

        <hr>

    </body>

    <footer>
        <p>copyright © chinese-christian.jp  All Rights Reserved</p>
    </footer>
</html>
