{% extends "layout.html" %}
{% block body %}


<div class="container">
  <div class="col-sm-8 col-sm-offset-0">
    <button type="button" class="btn btn-lg btn-primary" disabled="disabled">組織作成</button>
    <button onclick="location.href='/event/list'" type="button" class="btn btn-lg btn-primary">イベント一覧</button>
    <button onclick="location.href='/event/create'" type="button" class="btn btn-lg btn-primary">イベントを直接作成</button>
  </div>
</div>

<link  href="/static/css/work.css" rel="stylesheet"></link>
{% endblock body %}
