@charset "utf-8";

/* 項目ラベル */
.form-group{
  margin-bottom: 35px;
}
/* 項目placeholder size */
.form-control{
  font-size: 20px;
}
input:required{
  background: #ffcdd2;
}
input[type="email"]:invalid{
  background: #ffcdd2;
}
input:valid{
  background: transparent;
}
input:focus{
  background: #DCEDC8;
}
