@charset "utf-8";
.container{
  width: 800px;
}
.row{
  margin: auto;
  width: 100%;
}
/* 項目ラベル */
.form-group{
  margin-bottom: 35px;
  width: 100%;
  margin: auto;
}
/* 項目placeholder size */
.form-control{
  font-size: 20px;
}
input:required{
  background: #ffcdd2;
}
input[type="email"]:invalid{
  background: #ffcdd2;
}
input:valid{
  background: transparent;
}
input:focus{
  background: #DCEDC8;
}
