header{
    margin-top: 30px;
    color: #95c2de;
}
  
h1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
  
hr{
    border-width: 5px;
    width: 800px;
    border-color: #95c2de;
}

body{
    height: 100%;
    position: relative;
    padding-bottom: 20px;/*←footerの高さ*/
}

.container-body {
    width: 800px;
    margin: auto;
}

/* footer用 */
footer{
    font-size: 20px;
    /*footerの装飾*/
    width: 100%;
    /* background-color: #89c7de; */
    color: #95c2de;
    text-align: center;

    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}
